registry=https://dfdsp-007911779249.d.codeartifact.eu-north-1.amazonaws.com/npm/tamsin-npm-repo/
//dfdsp-007911779249.d.codeartifact.eu-north-1.amazonaws.com/npm/tamsin-npm-repo/:always-auth=true
//dfdsp-007911779249.d.codeartifact.eu-north-1.amazonaws.com/npm/tamsin-npm-repo/:_authToken=${CODEARTIFACT_AUTH_TOKEN}